@model EverCareCommunity.Models.MedicalRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResidentID" class="control-label"></label>
                <select asp-for="ResidentID" class ="form-control" asp-items="ViewBag.ResidentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <select asp-for="DoctorID" class ="form-control" asp-items="ViewBag.DoctorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription" class="control-label"></label>
                <input asp-for="Prescription" class="form-control" />
                <span asp-validation-for="Prescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReported" class="control-label"></label>
                <input asp-for="DateReported" class="form-control" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                <span asp-validation-for="DateReported" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
