@model EverCareCommunity.Models.CaregiverResidentAssignment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CaregiverResidentAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssignmentID" />
            <div class="form-group">
                <label asp-for="CaregiverID" class="control-label"></label>
                <select asp-for="CaregiverID" class="form-control" asp-items="ViewBag.CaregiverID"></select>
                <span asp-validation-for="CaregiverID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidentID" class="control-label"></label>
                <select asp-for="ResidentID" class="form-control" asp-items="ViewBag.ResidentID"></select>
                <span asp-validation-for="ResidentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
